.card-header {
  margin: 0.6em;
  margin-top: 12px;
  background-color: none;
  font-size: 14px;
}

.small-btn {
  padding-left: 25px;
}

.btn-acept {
  background: #ab47bc;
  color: white;
  margin: 2px;
}

.btn-cancel {
  color: #ab47bc;
  padding-left: 16px;
}

.remove-file {
  color: #ab47bc;
}

.alert {
  padding: 0.3rem 0.9rem;
  font-size: 13px;
}

/*contentc*/
.files-container {
  font-size: 12px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.nofiles-container {
  margin-top: 5px;
  font-size: 12px;
  padding-left: 20px;
  margin-bottom: 20px;
}

/*General*/

.card.card-title {
  background: none;
  color: black;
  padding: 1%;
  font-size: large;
  text-align: center;
}

.btn-form-users {
  color: white;
  border-radius: 0.25rem;
  background-color: default;
  font-size: 0.85rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
}

.btn-form-users.new {
  color: white;
  background-color: #00acc1;
}

.btn-form-users.assingRole {
  color: white;
  background-color: #ab47bc;
}

/*Documents*/
.card-form {
  position: relative;
  border: 0.01px solid #eae4eb;
  border-radius: 0.25rem;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  flex-direction: column;
  align-items: center;
}

.form-document {
  margin-bottom: 0%;
  margin-top: 1%;
  margin-left: 2%;
  font-size: 0.8rem;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  padding-left: 1.5rem;
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

.label-form-size {
  flex: 0 0 auto;
  width: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 0.5%;
}

.input-form-size {
  flex: 0 0 auto;
  width: 78%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.validation-form-size {
  flex: 0 0 auto;
  width: 11%;
  padding-left: 0%;
}

.check-field-true {
  font-size: 1.2rem;
  color: #00acc1;
}

.check-field-false {
  color: #ab47bc;
  font-size: 0.73rem;
}

.btn-form-doc {
  color: white;
  border-radius: 0.25rem;
  background-color: #00acc1;
  font-size: 0.85rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
}

.btn-form-doc.clean {
  color: white;
  background-color: #ab47bc;
}

.btn-form-doc.cancel {
  color: #ab47bc;
  background-color: transparent;
  text-decoration: none;
}

.card-search {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #e0f7fa;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.btn-form-doc.search-out {
  color: #ab47bc;
  background-color: transparent;
  text-decoration: none;
}

.btn-form-doc.search-out:disabled {
  color: #a29ea2;
  background-color: transparent;
  text-decoration: none;
  cursor: auto;
}

.bi-search {
  color: #626f6f;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.font-size-pagination {
  font-size: 0.8rem;
}

.thead-tr {
  background: #00acc1;
  text-align: center;
}

.th-font-size {
  font-size: 0.9rem;
  color: white;
}

/*Table tbody*/
.tbody-tr {
  font-size: small;
  background-color: none;
  text-align: center;
}

.size-link {
  font-size: 1.3rem;
  color: #ab47bc;
}

.size-pencil {
  font-size: 1rem;
  color: #f7d43a;
}

.size-trash {
  font-size: 1rem;
  color: #ba68c8;
}

.row-search {
  padding-left: 20px;
  padding-top: 6px;
  align-items: center;
  padding-bottom: 6px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  position: relative;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: none;
}

.form-check-input:checked {
  background-color: #ab47bc;
  border-color: #ab47bc;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #ab47bc;
  border-color: #ab47bc;
}

.page-link {
  color: #ba68c8;
}

/*App.vue*/
.col-10 {
  flex: 0 0 auto;
  width: 84%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16%;
  background: #b8c8ca;
  min-width: min-content;
  min-height: min-content;
}

.btn-modules {
  color: white;
  margin-top: 6px;
  background-color: #00acc1;
  border: 1px solid #00acc1;
  padding: 0.25rem 2.75rem;
  font-size: 0.95rem;
  border-radius: 0.25rem;
  text-align: left;
  padding-left: 12px;
}

.btn-modules:hover {
  color: #9c27b0;
  background: #f3e5f5;
  border: 1px solid white;
}

.nav-link-tab {
  color: #9c27b0;
  background: white;
  border: 0;
  border-radius: 0.25rem;
  width: 70%;
  margin-top: 3%;
}

.nav-link-tab.active {
  color: white;
  background-color: #ab47bc;
  width: 70%;
  margin-top: 3%;
}

.nav-link-tab:hover {
  color: #9c27b0;
  background: #f3e5f5;
  border: 1px solid white;
}

.flex-column {
  flex-direction: column;
  align-content: center;
  margin-top: 0.1rem;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: nowrap;
}