
/*Login*/
.form-header {
  background: #00acc1;
  height: 10rem;
  width: 25rem;
  border-radius: 0.4rem;
  text-align: center;
}
.bi-person-circle {
  font-size: 6rem;
  color: #ffffff;
}
.form-input {
  text-align: center;
  color: #00acc1;
  height: 3rem;
  width: 25rem;
}
.div-input {
  column-fill: 12pt;
  margin-block: 10pt;
}

.form-button {
  background: #ab47bc;
  height: 4rem;
  width: 25rem;
  font-size: 1.5rem;
  color: #ffffff;
}
.form-a {
  background: #00acc1;
  color: #f8fafa;
  text-decoration: none;
  font-size: 1rem;
  height: 3rem;
  width: 25rem;
  display: flex;
    
    justify-content: space-evenly;
    align-items: center;
}
.login-alert {
  text-align: center;
  padding-top: 1rem;
  width: 25rem;
  margin-block: 10pt;
}
.div-buttons{
  width: 25rem;
  
}
/*App.vue*/
.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-width: 600px;
  background: #9025ae;
  
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;  
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}

.navbar-brand {  
  padding-left: 0;
  padding-right: 8px;
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1.2rem;
}

.navbar-brand:hover {  
  padding-left: 0;
  padding-right: 8px;
  background-color: #b370bd;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1.2rem;
}

.navbar-collapse {
  margin-top: 8px;
  margin-bottom: 2px;
}

.navbar.navbar-expand-lg {
  background: #6039f7;
}

.navbar-toggler {
  font-size: 1.8rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  background: #00acc1;
  margin-top: 4px;
  margin-bottom: 4px;
}

.navbar-toggler:hover {
  font-size: 1.8rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  background: #e1bee7;
}

.navbar-toggler:focus {
  box-shadow: 3px 3px 3px 0px;
  color: #e1bee7;
  background: white;
}

.navbar-nav {
  display: flex;

  padding-left: 0;
  list-style: none;

  margin-right: auto;
}

.nav-link {
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  border-radius: 0.25rem;
  height: 40px;
  width: 80px;
  vertical-align: auto;
}

.nav-link:hover {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #b370bd;
  border-radius: 0.25rem;

  height: 40px;
  width: 80px;
}

.nav-link:focus {
  box-shadow: 0px 0px 3px 0px;
  color: #e1bee7;
  background: white;
}

.d-flex {
  display: flex !important;
  align-items: center;
  justify-content: none;
  align-content: center;
  flex-direction: row;
  padding-left: 8px;
}

.welcome-user {
  padding-right: 8px;
  color: #e1bee7;
  font-size: 16px;
  font-style: oblique;
}

.btn-signIn {
  background-color: #00acc1;
  border-radius: 0.25rem;
  width: 82px;
  height: 34px;
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  margin: 4px;
  text-decoration: none;
}

.btn-signIn:hover {
  background-color: #b370bd;
  border-radius: 0.25rem;
  width: 82px;
  height: 34px;
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  margin: 4px;
}

/*FILES*/
.card-header {
  margin: 0.6em;
  margin-top: 12px;
  background-color: none;
  font-size: 14px;
}

.small-btn {
  padding-left: 25px;
}

.btn-acept {
  background: #ab47bc;
  color: white;
  margin: 2px;
}

.btn-cancel {
  color: #ab47bc;
  padding-left: 16px;
}

.remove-file {
  color: #ab47bc;
}

.alert {
  padding: 0.3rem 0.9rem;
  font-size: 13px;
}

/*content*/
.files-container {
  font-size: 12px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.nofiles-container {
  margin-top: 5px;
  font-size: 12px;
  padding-left: 20px;
  margin-bottom: 20px;
}

/*General*/

.card.card-title {
  background: #00acc1;
  color: white;
  padding: 1%;
  font-size: large;
  text-align: center;
}

.btn-form-users {
  color: white;
  border-radius: 0.25rem;
  background-color: default;
  font-size: 0.85rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
}

.btn-form-users.new {
  color: white;
  background-color: #00acc1;
}

.btn-form-users.assingRole {
  color: white;
  background-color: #ab47bc;
}

/*DOCUMENTS*/
/*documentForm.vue*/
.card-form {
  position: relative;
  border: 0.01px solid #eae4eb;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  flex-direction: column;
  align-items: center;
}

.form-document {
  margin-bottom: 0%;
  margin-top: 1%;
  margin-left: 2%;
  font-size: 0.8rem;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.form-control-sm.search{ 
  padding: 0.25rem 15rem; 
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
}

.label-form-size {
  flex: 0 0 auto;
  width: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 0.5%;
}

.input-form-size {
  flex: 0 0 auto;
  width: 78%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.validation-form-size {
  flex: 0 0 auto;
  width: 11%;
  padding-left: 0%;
}

.check-field-true {
  font-size: 1.2rem;
  color: #00acc1;
}

.check-field-false {
  color: #ab47bc;
  font-size: 0.73rem;
}

.btn-form-doc {
  color: white;
  border-radius: 0.25rem;
  background-color: #00acc1;
  font-size: 0.85rem;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.300rem 0.70rem;
  margin-top: 6px;
  margin: 3px;
}

.btn-form-doc:hover {
  color: white;
  background-color: #04c6df;

}

.btn-form-doc.icon-add {
  color: #00acc1;
  border-radius: 0.25rem;
  background-color: white;
  font-size: 2.5rem;
  padding: 0rem 0rem;
}

.btn-form-doc.clean {
  color: white;
  background-color: #ab47bc;
}

.btn-form-doc.clean:hover {
  color: white;
  background-color: #d158e7;
}

.btn-form-doc.cancel {
  color: #ab47bc;
  background-color: transparent;
  text-decoration: none;
}

.btn-form-doc.cancel:hover {
  color: #ab47bc;
  background-color: #f4f2f5;
  text-decoration: none;
}

/*search*/
.card-search {
  display: flex;
  border: none;
  background-color: #e0f7fa;
  border-radius: 0.25rem;
  font-size: 0.8rem;  
  justify-content: center;
}

.row-search {
  padding-left: 25px;
    padding-top: 6px;
    align-items: end;
    padding-right: 0;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  position: relative;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: none;
}

.form-check-input:checked {
  background-color: #ab47bc;
  border-color: #ab47bc;
}

.btn-form-doc.search-out {
  color: #ab47bc;
  background-color: transparent;
  text-decoration: none;
}

.btn-form-doc.search-out:disabled {
  color: #a29ea2;
  background-color: transparent;
  text-decoration: none;
  cursor: auto;
}

.bi-search {
  color: #626f6f;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.form-control-sm.search {
  padding-left: 1.5rem;
}

/*table documents*/
.thead-tr {
  background: #00acc1;
  text-align: center;  
}

.th-font-size {
  font-size: 0.9rem;
  color: white;
}

.tbody-tr {
  font-size: small;
  background-color: none;
  text-align: center;
}

.size-link {
  font-size: 1.3rem;
  color: #ab47bc;
}

.size-pencil {
  font-size: 1rem;
  color: #f7d43a;
}

.size-trash {
  font-size: 1rem;
  color: #ba68c8;
}

/*pagination*/
.pagination {
  display: flex;
  padding: 0.5rem;
  list-style: none;
  flex-wrap: wrap;  
}

.page-item {
  padding: 0.2rem;
  background: none; 
}

.font-size-pagination {
  font-size: 0.8rem;
  background-color: #00acc1;
 border-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #ab47bc;
  border-color: #ab47bc;
  border-radius: 0.25rem;
}

.page-item.active .page-link:focus {
  box-shadow: 0px 0px 4px 3px;
  color: #e1bee7;
  border-radius: 0.25rem;
}

.page-item.disabled .page-link {
  color: #ced3d3;
  pointer-events: none;
  background: #00acc1;
  border-color: #8dbbc1;
 
}

.page-link {
  color: white;
  background: #00acc1;
  border-color: #8dbbc1;
  border-radius: 0.25rem;
}

.page-link:focus {
  box-shadow: 0px 0px 4px 3px;
  color: #d7f6fa;
  background: #00acc1;
  border-color: #00acc1;
  border-radius: 0.25rem;
}

/*views componentView.vue*/
.col-2.panel-right {
  flex: 0 0 auto;
  background: #b8c8ca;
  padding-top: 8px;
  padding-bottom: 12px;
}

.btn-modules {
  position: relative;
  color: white;
  margin-top: 6px;
  background-color: #00acc1;
  border: 1px solid #00acc1;
  padding: 16px;
  font-size: 0.95rem;
  border-radius: 0.25rem;
  text-align: center;
  padding-left: 12px;
}

.btn-modules:hover {
  color: #00acc1;
  background: #c1f1f5;
  border: 1px solid #c1f1f5;
}

.nav-link-tab {
  position: relative;
  color: #9c27b0;
  background: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 0.25rem;
  margin: 2%;
  font-size: 0.88rem;
  margin-bottom: 0px;
}

.nav-link-tab.active {
  color: white;
  background: #ab47bc;
  border: 1px solid #ab47bc;
}

.nav-link-tab:hover {
  color: #9c27b0;
  background: #f3e5f5;
  border: 1px solid #f3e5f5;
}

.flex-column {
  flex-direction: column;
  margin-top: 0.1rem;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}
/*logOut.vue*/
.modal-header.head {
  background: #ab47bc;
  height: 3rem;
  font-size: 2rem;
}
.modal-body.body {
  color: #ab47bc;
  font-size: 1rem;
  height: 3rem;
}
.modal-title.title {
  color: #f9fbfb;
}
.modal-footer.footer {
  background: #efeff0;
  padding: 0;
  margin: 0;
}
.btn.yes {
  color: #f8f6f8;
  background: #ab47bc;
}
.btn.yes:hover {
  color: #f8f6f8;
  background: #d65beb;
}
.btn.not {
  color: #ab47bc;
}
.btn.not:hover {
  color: #ab47bc;
  background: #e5c7eb;
}
.modal-close {
  color: #f8f6f8;
  font-size: 1.5rem;
  text-decoration: none;
}
/*UsersForm*/
.modal-header.headUserForm{
  background: #00acc1;
  color: white;
}
.modal-footer-sm.footUserForm{
  background: #00acc1;
  padding: 0.8rem;
  border-radius: 0.30rem;
  
}
.btn.btnUserForm{
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 0.30rem;
}
.btn.btnUserForm-cancel{
  background-color: none;
  color: aliceblue;
  margin-left: 1.5rem;
  border-radius: 0.30rem;
}
.text-alert-form{
  color: blueviolet;
}